<%- include('../partials/header') %>
<div class="container my-5">
  <h1 class="mb-4">Student Login</h1>
  <form action="/login" method="POST">
    <!-- <div class="mb-3">
      <label for="email" class="form-label">Email</label>
      <input type="email" name="email" id="email" required class="form-control" placeholder="your.email@example.com">
    </div> -->
    <div class="mb-3">
      <label for="studentID" class="form-label">Student ID</label>
      <input type="text" name="studentID" id="studentID" required class="form-control" placeholder="Your Student ID">
    </div>
    <div class="mb-3">
      <label for="password" class="form-label">Password</label>
      <input type="password" name="password" id="password" required class="form-control" placeholder="Enter your password">
    </div>
    <button type="submit" class="btn btn-primary">Login</button>
  </form>
</div>
<%- include('../partials/footer') %>