<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('../partials/header') %>
    <title>Registration Disabled</title>
  </head>
  <body>
    <div class="container mt-5">
      <h1>Registration Disabled</h1>
      <p>Registration functionality has been removed. Please contact the library administration if you require an account.</p>
      <a href="/" class="btn btn-primary">Home</a>
    </div>
    <%- include('../partials/footer') %>
  </body>
</html>